/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://media.istockphoto.com/id/1011182136/es/foto/marcar-las-tareas-completadas-en-una-lista-de-tareas.jpg?s=612x612&w=0&k=20&c=DZkwxLkBF1eCj3xdTSGx40CN6ATO50VvNlJ3BjTB5Lg=');
    background-repeat: no-repeat;
    background-size: cover;
}